__pycache__
vscode/node_modules/
vscode/out/
vscode/dist/
vscode/.vscode-test/
vscode/package-lock.json
python/dayzdebug.log
python/data*.txt
python/build/
python/dist/
python/dzdbgport.spec
python/.build_hash